body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* jquery validation */
label.error {
    color: #e7505a;
    margin-left: 10px;
    padding: 7px;
}
input.error {
    border: 2px solid #e7505a;
}
